.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
.card{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.cardAction{
  width: 20rem;
}
.btn-action{
  display: flex;
  justify-content: center;
  gap: 1rem;
}